Linear Regression/.ipynb_checkpoints/Linear Regression - Combined Cycle Power Plant-checkpoint.ipynb
Linear Regression/.ipynb_checkpoints/Linear Regression - Boston Dataset-checkpoint.ipynb
Linear Regression/.ipynb_checkpoints/Linear Regression for 2D data-checkpoint.ipynb
Logistic Regression/.ipynb_checkpoints/Logistic Regression - Titanic Dataset-checkpoint.ipynb