Linear Regression/.ipynb_checkpoints/Gradient Descent - Combined Cycle Power Plant-checkpoint.ipynb
Linear Regression/.ipynb_checkpoints/Linear Regression - Boston Dataset-checkpoint.ipynb
Linear Regression/.ipynb_checkpoints/Linear Regression for 2D data-checkpoint.ipynb
